1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
 test1 = 'This is a test of the emergency text system'

In [2]:
len(test1)

43

In [3]:
outfile = open('test.txt', 'wt')

In [4]:
outfile.write(test1)

43

In [5]:
outfile.close()

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [6]:
with open('test.txt', 'rt') as infile:
    test2 = infile.read()

In [7]:
    len(test2)

43

In [8]:
test1 == test2

True

3. Create a CSV file called books.csv by using these lines:
title,author,year The Weirdstone of Brisingamen,Alan Garner,1960 Perdido Street Station,China Miéville,2000 Thud!,Terry Pratchett,2005 The Spellman Files,Lisa Lutz,2007 Small Gods,Terry Pratchett,1992

In [10]:
text='''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

In [12]:
with open('books.csv', 'wt') as outfile:
    outfile.write(text)

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [18]:
import sqlite3

In [19]:
db = sqlite3.connect('books.db')

In [20]:
curs = db.cursor()

In [ ]:
curs.execute('''create table book (title text, author text, year int)''')

In [22]:
db.commit()

5. Read books.csv and insert its data into the book table.

In [24]:
import csv

In [25]:
import sqlite3

In [26]:
ins_str = 'insert into book values(?, ?, ?)'

In [27]:
with open('books.csv', 'rt') as infile:
    books = csv.DictReader(infile)
    for book in books:
        curs.execute(ins_str, (book['title'], book['author'], book['year']))

In [28]:
db.commit()

6. Select and print the title column from the book table in alphabetical order.

In [29]:
sql = 'select title from book order by title asc'

In [30]:
for row in db.execute(sql):
    print(row)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

In [33]:
for row in db.execute(sql):
    print(row[0])

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

7. From the book table, select and print all columns in the order of publication

In [34]:
for row in db.execute('select * from book order by year'):
    print(row)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

In [35]:
for row in db.execute('select * from book order by year'):
    print(*row, sep=', ')

The Weirdstone of Brisingamen, Alan Garner, 1960
Small Gods, Terry Pratchett, 1992
Perdido Street Station, China Miéville, 2000
Thud!, Terry Pratchett, 2005
The Spellman Files, Lisa Lutz, 2007

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [36]:
import sqlalchemy

In [37]:
conn = sqlalchemy.create_engine('sqlite:///books.db')

In [38]:
sql = 'select title from book order by title asc'

In [39]:
rows = conn.execute(sql)

In [41]:
for row in rows:
     print(row)

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [42]:
!pip install redis

Collecting redis
  Downloading redis-4.3.4-py3-none-any.whl (246 kB)
Requirement already satisfied: packaging>=20.4 in c:\programdata\anaconda3\lib\site-packages (from redis) (21.0)
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Collecting deprecated>=1.2.3
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: wrapt<2,>=1.10 in c:\programdata\anaconda3\lib\site-packages (from deprecated>=1.2.3->redis) (1.12.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\programdata\anaconda3\lib\site-packages (from packaging>=20.4->redis) (3.0.4)
Installing collected packages: deprecated, async-timeout, redis
Successfully installed async-timeout-4.0.2 deprecated-1.2.13 redis-4.3.4

10. Increment the count field of test and print it.

In [ ]:
conn.hincrby('test', 'count', 3)